body {
    background-color: black;
    color: white;
    font-family: "IBM Plex Mono";
    height: 195px; 
    color: white; 
    font-size: 24px; 
    font-weight: 700; 
    line-height: 31px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 200px;
    line-height: 242px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 100px;
    line-height: 121px;
}

.header-text {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
}

.header-text-link {
    text-decoration: none;
    line-height: 24px;
}

.First-page {
    background-color: black;
    background-image: url(../img/planet_fon.png);
    background-repeat: no-repeat;
    background-size: 100%;
}