body {
    background-color: black;
    background-image: url(../img/planet_fon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    color: white;
    font-family: "IBM Plex Mono";
    color: white; 
    font-size: 24px; 
    font-weight: 700; 
    line-height: 31px;
}

p {
    margin: 8px auto 13px;
    font-family: "IBM Plex Mono";
    color: white; 
    font-size: 32px; 
    font-weight: 700; 
    line-height: 42px;
}


.form-background {
    margin: 10px auto 150px;
    width: 844px;
    min-height: 620px;
    border-radius: 73px;
    background-color: rgba(7, 7, 7, 0.7);
    display: block;
}

.form-block {
    width: 724px;
    margin: 40px 50px 30px;
}

.name-number {
    display: flex;
    justify-content: space-between;
}

.reg {
    margin: 150px auto 0;
    width: 233px;
    min-height: 62px;
    background-color: rgba(139, 166, 198, 1);
    border-radius: 34px;
    display: flex;
    justify-self: center;
    align-self: center;
}

.name {
    width: 50%;
    display: block;
    margin: 60px 25px 20px;  
}

[type=text] {
    border: none;
    width: 284px;
    min-height: 63px;
    border-radius: 34px;
    margin-top: 8px;
    background-color: rgba(217, 217, 217, 0.6);

    font-family: "IBM Plex Mono";
    color: white; 
    font-size: 16px; 
    font-weight: 700; 
    line-height: 21px;

    padding: 0 20px;
    
}

.number {
    width: 50%;
    display: block;
    margin: 60px 25px 20px;      
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

[type=number] {
    border: none;
    width: 284px;
    min-height: 63px;
    border-radius: 34px;
    margin-top: 8px;
    background-color: rgba(217, 217, 217, 0.6);

    font-family: "IBM Plex Mono";
    color: white; 
    font-size: 16px; 
    font-weight: 700; 
    line-height: 21px;

    padding: 0 20px;
}


.password {
    display: block;
    margin-bottom: 40px;
    margin: 0 25px 20px;
}

[type=password] {
    border: none;
    width: 654px;
    min-height: 63px;
    border-radius: 34px;
    margin-top: 8px;
    margin-bottom: 50px;
    background-color: rgba(217, 217, 217, 0.6);

    font-family: "IBM Plex Mono";
    color: white; 
    font-size: 16px; 
    font-weight: 700; 
    line-height: 21px;

    padding: 0 20px;
}

.reg-button {
    display: block;
    width: 150px;
    min-height: 63px;
    background-color: rgba(139, 198, 152, 1);

    border-radius: 40px;
    margin: 0 auto;

    font-family: "IBM Plex Mono";
    color: white; 
    font-size: 32px; 
    font-weight: 700; 
    line-height: 31px;
}

.img-icon {
    width: 76px;
    height: 76px;

}

.link-icon {
    text-decoration: none;
}

.list {
    width: 303px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}

.form-block-link {
    display: block;
    width: 724px;
    margin: 40px 50px 30px;
}